@using static ASI.Basecode.Resources.Views.ForgotPassword
@using ASI.Basecode.Services.ServiceModels
@model ASI.Basecode.Services.ServiceModels.ForgotPasswordViewModel
@{
    ViewBag.LoginView = true;
}
<div class="background group relative flex h-screen w-screen items-center justify-center">
    <div class="credential-gradient group-hover:opacity-100 opacity-80 flex h-full w-full translate-x-2/3 transform-gpu flex-col items-center justify-center drop-shadow-lg duration-100 sm:w-2/3 sm:h-3/4 sm:rounded-xl md:w-1/3 md:h-5/6 md:rounded-xl md:hover:scale-105">
        <div class="flex h-52 w-full flex-col items-center justify-center gap-5">
            <img src="/img/LogoBg.png" class="mt-5 h-24 w-24 rounded-full">
            <label class="font-sans text-2xl font-bold tracking-wide text-white drop-shadow-lg">@ForgotPasswordHeader</label>
        </div>
        <form asp-action="ForgotPassword" method="post" class="flex w-full flex-col gap-5 px-16">
            <div class="flex w-full flex-row items-center border-b border-zinc-400">
                <img src="/img/EmailIcon.png" class="h-5 w-5" />
                <input asp-for="Email" type="email" id="emailInput" placeholder="Email" class="border-0 w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none focus:border-0" />
                <span asp-validation-for="Email" class="text-xs text-red-500"></span>
            </div>

            <div class="mt-5 flex flex-col items-center justify-center gap-3">
                <button type="submit" id="submitBtn" class="w-36 rounded-full bg-white py-2 text-gray-700 drop-shadow-lg duration-300 hover:bg-violet-500 hover:text-white">
                    @Submit
                </button>
                <label class="mt-3 text-center text-sm text-white"><a asp-area="" asp-controller="Credentials" asp-action="Login" class="underline">@Back</a></label>
            </div>
        </form>
    </div>
    <div class="text-outline absolute left-8 top-0 font-sans font-bold italic leading-none text-[10rem] text-black opacity-100 transition-opacity duration-300 dark:text-white md:inline">
        <span class="text-violet-500">EX</span><span class="text-[9rem] opacity-50">PENSE</span><br />
        <span class="text-violet-500">TR</span><span class="text-[9rem] opacity-50">ACKER</span>
        <div class="opacity-80 ms-5 mt-5 flex flex-col">
            <label class="text-xl not-italic text-black dark:text-white"><span class="text-violet-500">Take Charge</span> of Your Expenses</label>
            <label class="text-xl not-italic text-black dark:text-white"><span class="text-violet-500">Experience the power</span> of effortless expense tracking and budgeting</label>
        </div>
        <div class="mt-12 flex h-auto w-full flex-row items-center justify-center gap-5">
            <a asp-area="" asp-controller="Credentials" asp-action="Login" class="h-10 rounded-lg bg-violet-500 px-8 py-2 text-sm not-italic text-white no-underline drop-shadow-lg duration-300 hover:bg-violet-500">Start By Logging In!</a>
            <a asp-area="" asp-controller="Credentials" asp-action="Register" class="h-10 rounded-lg bg-gray-300 px-8 py-2 text-sm not-italic text-black no-underline drop-shadow-lg duration-300 hover:text-white hover:bg-violet-500 dark:text-white">Or Register Now</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        <partial name="_ValidationScriptsPartial" />
    </script>
}
