@using ASI.Basecode.Services.ServiceModels
@using static ASI.Basecode.Resources.Views.RegisterScreen
@model ASI.Basecode.Services.ServiceModels.RegisterViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Register Page";
}

<div class="background flex h-screen w-screen items-center justify-center">
    <div class="credential-gradient flex h-full w-full flex-col items-center justify-center drop-shadow-lg sm:w-2/3 sm:h-3/4 sm:rounded-xl md:w-1/3 md:h-3/4 md:rounded-xl">
        <div class="flex h-52 w-full flex-col items-center justify-center gap-5">
            <img src="/img/LogoBg.png" class="mt-5 h-24 w-24 rounded-full">
            <label class="font-sans text-2xl font-bold tracking-wide text-white drop-shadow-lg">@RegisterHeader</label>
        </div>

        <form id="registerForm" asp-action="Register" method="post" novalidate class="flex w-full flex-col gap-5 px-16">
            <!-- Email Input -->
            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/EmailIcon.png" class="h-5 w-5" />
                <input asp-for="Mail" type="email" autocomplete="off" id="emailInput" placeholder="Email" class="border-0 w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none focus:border-0" />
                <span asp-validation-for="Mail" class="text-xs text-red-500"></span> <!-- Display validation error -->
            </div>

            <!-- Username Input -->
            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/UserIcon.png" class="h-5 w-5"/>
                <input asp-for="Username" type="text" autocomplete="off" id="userInput" placeholder="Username" class="border-0 w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none focus:border-0" />
                <span asp-validation-for="Username" class="text-xs text-red-500"></span> <!-- Display validation error -->
            </div>

            <!-- Password Input -->
            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/LockIcon.png" class="h-5 w-5" />
                <input asp-for="Password" type="password" id="passwordInput" placeholder="Password" class="border-0 w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none focus:border-0" />
                <span asp-validation-for="Password" class="text-xs text-red-500"></span> <!-- Display validation error -->
            </div>

            <!-- Submit Button -->
            <div class="flex flex-col items-center justify-center gap-0.5 sm:gap-2 md:gap-3">
                <button type="submit" class="w-36 rounded-full bg-white py-2 text-gray-700 drop-shadow-lg">
                    @Register
                </button>
                <label class="text-center text-sm text-white">@HaveAccount <a asp-area="" asp-controller="Credentials" asp-action="Login" class="underline"> @LoginRedirect</a></label>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    var errMessage = '@TempData["ErrorMessage"]';
      if (errMessage) {
            toastr.error(errMessage);
        }
}



