@model ASI.Basecode.Services.ServiceModels.ResetPasswordViewModel
<div class="background flex h-screen w-screen items-center justify-center">
    <div class="credential-gradient h-full w-full drop-shadow-lg sm:w-2/3 sm:h-4/5 sm:rounded-xl md:w-1/3 md:h-3/4 md:rounded-xl">
        <div class="flex h-52 w-full flex-col items-center justify-center gap-5">
            <img src="/img/LogoBg.png" class="mt-5 h-24 w-24 rounded-full">
            <label class="font-sans text-2xl font-bold tracking-wide text-white drop-shadow-lg">Reset Password</label>
        </div>
        <form asp-action="ResetPassword" method="post" class="flex flex-col gap-5 px-12">
            <!-- Hidden field to carry the token -->
            <input type="hidden" asp-for="Token" value="@Model.Token" />

            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <input type="password" asp-for="NewPassword" placeholder="New Password" class="border-0 w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none focus:border-0" />
                <span asp-validation-for="NewPassword" class="text-xs text-red-500"></span>
            </div>
            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="border-0 w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none focus:border-0" />
                <span asp-validation-for="ConfirmPassword" class="text-xs text-red-500"></span>
            </div>
            <div class="mt-5 flex flex-col items-center justify-center gap-3">
                <button type="submit" id="submitBtn" class="w-32 rounded-full bg-white py-2 text-gray-700 drop-shadow-lg">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        <partial name="_ValidationScriptsPartial" />
        var invalidResetToken = '@TempData["InvalidResetToken"]';
        if (invalidResetToken) {
            toastr.error(invalidResetToken);
        }
    </script>
}